* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: white;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
    width: 80%;
    margin-inline: auto;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
}

.toolbar {
	padding: 16px;
	background: #eee;
}

.toolbar .head {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}

.toolbar .head select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}

.toolbar .head .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 10px;
}

.toolbar .head .btn-toolbar button {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.toolbar .head .btn-toolbar button:hover {
	background: #f3f3f3;
}

#content {
	padding: 16px;
	outline: none;
    min-height: 250px;
	overflow: auto;
}

#show-code {
    background: rgb(255 255 255);
    color: #161515;
    border: none;
    cursor: pointer;
    width: 40px;
    border: 2px solid #ddd;
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}
